.row
  %article
    %h1
      = @camping.name
    #featured.twelve.colums
      - @camping.images.each do |image|
        = image_tag image.image.url(:large), :class => "large", :data => { :thumb => image.image.url(:thumb) }
    .row
      .six.columns.description
        != m @camping.description
      .six.columns
        = map_tag(@camping.latitude, @camping.longitude) unless @camping.latitude.blank?
        %table.twelve.properties
          %tbody
            - unless @camping.latitude.blank?
              %tr.geo
                %td.name
                  Geo
                %td.value
                  = "#{@camping.latitude}, #{@camping.longitude}"
            - unless @camping.website.blank?
              %tr.website
                %td.name
                  Website
                %td.value
                  = link_to "#{@camping.name} website", @camping.website

            - @camping.labels.each do |label|
              %tr.filter-label
                %td.name
                  = label.name
                %td.value
                  = label.value

- content_for :javascript_body do
  = render(:partial => "shared/orbit", :formats => [:js])
