- content_for :javascript_tags do
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyC1GdwD4o0-PSz_5afcPM5_P_OsKZGf6Fg&sensor=true"

- content_for :javascript_body do
  $(document).ready(function() {                        |
    map.setup();                                        |
  });                                                   |

.row
  %h1.title
    = title
  = form_for(@search, :url => maps_path(:format => :json), :html => { :method => :get }) do |f|
    .row.collapse
      .ten.columns
        = text_field_tag("search_contains", nil, :placeholder => "Enter search terms...", :name => "search[name_or_description_contains]")
      .two.columns
        = f.submit "Search", :class => "button expand postfix"
    .row
      .twelve.columns.filters
        %fieldset.collapsible
          %legend Refine
          .six.columns.flags
            .row
              - @flags.each do |label|
                .six.columns
                  = label_tag("label_#{label.id}", label.name, :class => "right inline" )
                .six.columns
                  = check_box_tag("label_#{label.id}", label.name, [f.object.labels_name_eq_any].flatten.include?(label.name), :name => "search[labels_name_eq_any][]")
          .six.columns.selects
            .row
              - @selects.each do |select|
                .six.columns
                  = label_tag("label_#{select.id}", select.name, :class => "right inline")
                .six.columns
                  = select_tag("label_#{select.id}", options_for_select(select.options, [f.object.labels_value_eq_any].flatten.first), :include_blank => true, :name => "search[labels_value_eq_any][]")
  #map_canvas.twelve.columns

#campings.row
  Please wait ....
